# Configurações de Teste (Opcional)
# Se preenchido, o robô responderá APENAS a este número (formato: 5511999999999)
NUMERO_TESTE=+

# Configurações do Chatwoot
CHATWOOT_URL=https://sua-url-chatwoot.com
CHATWOOT_BOT_TOKEN=seu-token-bot
ID_DA_CONTA=1

# Configurações da IA (Groq)
CHAVE_GROQ=sua-chave-aqui

# Configurações da Evolution API (Opcional se usar Chatwoot direto)
EVOLUTION_WEBHOOK_SECRET=seu-segredo-webhook

# Banco de Dados PostgreSQL
DB_HOST=localhost
DB_NAME=db_construtora
DB_USER=postgres
DB_PASS=sua-senha
DB_PORT=5432

# Redis (Necessário para Escudo Anti-Ban)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=senha
